# Archivos y carpetas de macOS
.DS_Store

# Archivos y carpetas de IntelliJ IDEA (JetBrains)
.idea/

# Archivos y carpetas de VS Code
.vscode/

# Node
node_modules/

# VQL Generator
scripts/vql_output/